{
  "extends": ["react-app", "airbnb", "prettier"],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": 2,
    "no-unused-vars": 1,
    "no-var": 2,
    "react/prop-types": 1,
    "no-console": 1,
    "quotes": ["error", "double"]
  }
}
